body{
    background-color: black;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem;

}

.left{
    color: aliceblue;
    margin-left: 10%;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
    color: turquoise;
}

aside{
    width: 30%;
    padding: 5%;
    margin: 10%;
    background-color: grey;
    border: 4px solid turquoise;
}