body{
    background-color: black;
}


.header {
  display: flex;
  justify-content: space-between;  /* left + right separation */
  align-items: center;             /* vertical alignment */
  padding: 16px 24px 0px 16px;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#right-header ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

#left-header{
    color: turquoise;
}
a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: white;
  text-decoration: underline;
  text-decoration-color: turquoise;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem;

}

.left{
    color: aliceblue;
    margin-left: 10%;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
    color: turquoise;
}

aside{
    width: 30%;
    padding: 5%;
    margin: 10%;
    background-color: grey;
    border: 4px solid turquoise;
}
button {
  background-color: grey;
  color: black;
  border: 2px solid turquoise;
  padding: 10px 20px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover{
    background-color: turquoise;
    color: white;
}